@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .hi {
  background-color: #445162;
  padding: 50px 0;
}

.wrapper .hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .hi__body {
  color: #ffffff;
  padding: 0 30 0 0;
}

.wrapper .hi__title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 38px 0px;
}

.wrapper .hi__list li {
  background: url("../../source/flex/check-icon.png") 0 1px no-repeat;
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding: 0 0 0 36px;
  margin: 0 0 15px 0;
  line-height: 22px;
  font-weight: 400;
}

.wrapper .hi__list li:last-child {
  margin: 0;
}

.wrapper .hi__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.wrapper .container {
  max-width: 1180px;
  margin: 0px auto;
}

.title {
  font-size: 30px;
  color: #445161;
  font-weight: 400;
}

.what {
  padding: 50px 0;
}

.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.what__image img {
  max-width: 100%;
}

.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 38px 0px 38px;
}

.what__title {
  margin: 0 0 33px 0;
}

.what__text p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-weight: 400;
  margin: 0 0 25px 0;
}

.what__text p:last-child {
  margin: 0 0 0 0;
}

.columns {
  background-color: #f5f5f5;
  padding: 48px 0 31px 0;
}

.columns__title {
  text-align: center;
  margin: 0 0 30px 0;
}

.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 15px;
}

.footer {
  background-color: #f5f5f5;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #445162;
}
